<!--The content below is only a placeholder and can be replaced.-->

  <!--The content below is only a placeholder and can be replaced.-->
  <div class="container-fulid">
    <div class="main-content">

      <div class="tob">
   <div class="tob1">
<div class="w3-container">
<button type="button" onclick="button_click" id="change-color" class="w3-circle "></button>

</div>	
           
   <div class="tob2">
   <div class="tob-banner"><input type="textarea" value="{{this.exname}}" class="textbox" disabled>
   <div class="col-sm-6">
     
              <p class="t1"></p>
           </div>
           <div class="col-sm-3">
           
              <img src="assets/img/flg1.png"  class="tob-img">
           </div>
           
           <div class="tob-banner4">

           <div class="col-sm-7">
              <p class="t1">SOUND</p>
           </div>
           <input type="button" onclick="window.location='calculator.php'" class="btnsnew1" value="Kein Sound"/>
           <input type="button" onclick="window.location='calculator.php'" class="btnsnew2" value="Klick"/>
           <input type="button" onclick="window.location='calculator.php'" class="btnsnew3" value="Bst."/>
                     <input type="button" onclick="window.location='calculator.php'" class="btnsnew4" value="HG1"/>
   <input type="button" onclick="window.location='calculator.php'" class="btnsnew5" value="HG4"/>
   <input type="button" onclick="window.location='calculator.php'" class="btnsnew6" value="HG7"/>
     <input type="button" onclick="window.location='calculator.php'" class="btnsnew7" value="Icon"/>
   <input type="button" onclick="window.location='calculator.php'" class="btnsnew8" value="HG2"/>
   <input type="button" onclick="window.location='calculator.php'" class="btnsnew9" value="HG5"/>
   <input type="button" onclick="window.location='calculator.php'" class="btnsnew10" value="HG8"/>
   <input type="button" onclick="window.location='calculator.php'" class="btnsnew11" value="Metro aus"/>
   <input type="button" onclick="window.location='calculator.php'" class="btnsnew12" value="HG3"/>
   <input type="button" onclick="window.location='calculator.php'" class="btnsnew13" value="HG6"/>
   <input type="button" onclick="window.location='calculator.php'" class="btnsnew14" value="HG9"/>
           <div>
           <div class="tob-banner5">

           <div class="col-sm-7">

              <p class="t1">INFO</p>
           <input type="button" onclick="window.location='calculator.php'" class="btnsnew15" value="HG6"/>
   <input type="button" onclick="window.location='calculator.php'" class="btnsnew16" value="HG9"/>
   
           </div>

   </div>

           
   </div>
   </div><div class="tob-banner7">
   <div class="col-sm-6">
              <p class="t1"></p>
           </div>