<!--The content below is only a placeholder and can be replaced.-->

  <!--The content below is only a placeholder and can be replaced.-->
<div class="container-fulid">
     	<div class="main-content">

     		<div class="tob">
			<div class="tob1">
	<div class="w3-container">
	 <button type="button" onclick="button_click" id="change-color" class="w3-circle "></button>
  
 </div>	
							
			<div class="tob2">
			<div class="tob-banner">
			<div class="col-sm-6">
     						<p class="t1">Schreibe Sie die gelernten Buchstaben noch einmal!</p>
							</div>
							<div class="col-sm-3">
							
     						<img src="assets/img/flg1.png"  class="tob-img">
							</div>
							<div class="tob-banner2">

							<div>
							<div class="tob-banner3">
							<div>
							<div class="tob-banner4">

							<div class="col-sm-7">
     						<p class="t1">SOUND</p>
							</div>
							<input type="button" onclick="window.location='calculator.php'" class="btnsnew1" value="Kein Sound"/>
							<input type="button" onclick="window.location='calculator.php'" class="btnsnew2" value="Klick"/>
							<input type="button" onclick="window.location='calculator.php'" class="btnsnew3" value="Bst."/>
		                    <input type="button" onclick="window.location='calculator.php'" class="btnsnew4" value="HG1"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew5" value="HG4"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew6" value="HG7"/>
		    <input type="button" onclick="window.location='calculator.php'" class="btnsnew7" value="Icon"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew8" value="HG2"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew9" value="HG5"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew10" value="HG8"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew11" value="Metro aus"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew12" value="HG3"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew13" value="HG6"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew14" value="HG9"/>
							<div>
							<div class="tob-banner5">

							<div class="col-sm-7">

     						<p class="t1">INFO</p>
							<input type="button" onclick="window.location='calculator.php'" class="btnsnew15" value="HG6"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew16" value="HG9"/>
			
							</div>
							<div>
							<div class="tob-banner6">
							<div>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew17" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew18" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew19" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew20" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew21" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew22" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew23" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew24" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew25" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew26" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew27" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew28" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew29" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew30" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew31" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew32" value="Q"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew33" value="W"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew34" value="E"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew35" value="R"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew36" value="T"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew37" value="Y"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew38" value="u"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew39" value="i"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew40" value="o"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew41" value="p"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew42" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew43" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew44" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew45" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew46" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew47" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew48" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew49" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew50" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew51" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew52" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew53" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew54" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew55" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew56" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew57" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew58" value=""/>

			<input type="button" onclick="window.location='calculator.php'" class="btnsnew59" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew60" value="Q"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew61" value="W"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew62" value="E"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew63" value="R"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew64" value="T"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew65" value="Y"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew66" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew67" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew68" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew69" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew70" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew71" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew72" value=""/>
			
			
			
			
							
			</div>
			</div>
			</div>
			</div>
			</div>
			</div>