							
<!--The content below is only a placeholder and can be replaced.-->

 <div class="container-fulid">
     	<div class="main-content">

     		<div class="tob">
			<div class="tob1">
	<div class="w3-container">
  
  <button type="button" onclick="button_click" id="change-color" class="w3-circle "></button>
  
 </div>	
							
			<div class="tob2">
			<div class="tob-banner">
				
     				<div class="row text-center">
					<table>
					<tr><td>&emsp;&emsp;&emsp;</td>
					<td>
     					<div class="col-sm-3">
     						<img src="assets/img/computer.gif" class="tob-img"><br>
     						<button class="btns">Anmelden</button>
     					</div></td><td>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
						<td>
     					<div class="col-sm-6" >
					
     						<p id="t1" align="center" >MM-Schreibtrainer</p>
     						<p class="t2">Multimedia-Abteilung</p>
     						<p class="t3"> PH der Diozese Linz  (et0nzt0)</p>
     						<p class="t4">alois.bachinger-linz.at</p>
     						<p class="t5">Am besten: Google Chrome, Firefox oder opera verwenden</p>
     						<p class="t6">vers. 8.0</p>
						
     					</div>	</td>	<td>&emsp;&emsp;&emsp;&emsp;&emsp;</td>				
     					<td><div class="col-sm-3">
     						<img src="assets/img/computer.gif" class="tob-img"><br>
     						<button class="btns">Programmende</button>
     					</div></td>
						</tr>
						</table>
     					</div>
					<div class="box">
					
					<div class="t9">
					<p class="t9">INDIVIDUALMODUS</p>
							
				 </div>
				 <div class="t10">
				<p class="t10">A)Tastatur:</p>
				 </div>
				 <div class="t11">
				<p class="t11">B)Arbeitsmodus:</p>
				</div>
				<div class="t12">
				<p class="t12">C)Darstellung:</p>
				</div>
				<div class="t13">
				<p class="t13">D)Sound:</p>
             </div>
			<div class="t15">
			 <p class="t15">Oberreihe:</p>
			 </div>
			 			 <div class="t14">
			 <p class="t14">Grundreihe:</p>
			 <p class="t14">Unterreihe:</p>
			 <p class="t14">Ziffernreihe:</p>
			 <p class="t14">Zeichen und Symbole:</p>
			 <p class="t14">AltGRZeichnen:</p>
			 <p class="t14">All Zeichen:</p>
			 </div>
			 <div class="t16">
            <input type="button" onclick="window.location='calculator.php'" class="btnsnew6" value="li"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew7" value="re"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew8" value="li"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew9" value="re"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew10" value="li"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew11" value="re"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew12" value="li"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew13" value="re"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew14" value="a"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew15" value="b"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew16" value="a"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew17" value="b"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew18" value="a"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew19" value=""/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew20" value="D"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew21" value="Ubungsstart"/>
			<input type="button" onclick="window.location='lpage.php'" class="btnsnew22" value="L"/>
			</div>
			<div class="t23">
			 <p class="t23">Schreibmaschinenmodus:</p>
			 </div>
			 <div class="t24">
			 <p class="t24">Diktat: Buchstabensuche:</p>
			 <p class="t24">Diktat-Texte:</p>
			 <p class="t24">Buchstabensuche</p>
			 <p class="t24">Buchtabenspiel</p>
			 
			 </div>
			 <div class="t17">
            <input type="button" onclick="window.location='calculator.php'" class="btnsnew25" value="SM"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew26" value="DZ"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew27" value="DT"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew28" value="BS"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew29" value="SP"/>
			</div>
			<div class="t30">
			 <p class="t30">Tastaur,Buchstabe und Testenicon:</p>
			 </div>
			 <div class="t31">
			 <p class="t31">Buchstabe und Icon:</p>
			 <p class="t31">Buchstabe:</p>
			 <p class="t31">Icon:</p>
			 <p class="t31">BuchstableSprache:</p>
			 </div>
			 <div class="t18">
            <input type="button" onclick="window.location='calculator.php'" class="btnsnew32" value="SM"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew33" value="DZ"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew34" value="DT"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew35" value="BS"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew36" value="SP"/>
			</div>
			<div class="t37">
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew37" value="Kein sound"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew38" value="Klick"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew39" value="Bst."/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew40" value="HG1"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew41" value="HG4"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew42" value="HG7"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew43" value="Icon"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew44" value="HG2"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew45" value="HG5"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew46" value="HG8"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew47" value="Metro aus"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew48" value="HG3"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew49" value="HG6"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew50" value="HG9"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew53" value="HG9"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew54" value="HG9"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew55" value="HG9"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew56" value="HG9"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew57" value="HG9"/>
			<input type="button" onclick="window.location='calculator.php'" class="btnsnew58" value="Programmende"/>
			</div>
			<div class="t51">
			<p class="t51">Anzahl/whlg:</p>
			</div>
			<div class="t52">
			<p class="t52">Ubungstext:</p>
		
			</div>
		
			<input type="text" name="asdfghjklo" class="tx-box1" placeholder="asdfghjklo" >
					</div>
     			</div>
     			</div>
				</div>
				</div>
				</div>
				</div>
				