
<div class="container-fulid" style="text-align:center">
     	<div class="main-content">
     		<div class="tob">
			<div class="tob1">
<div class="w3-container">
  
  <button type="button" onclick="button_click" id="change-color" class="w3-circle "></button>
  
 </div>			
							
			<div class="tob2">
			
     			<div class="tob-banner">
				
     				<div class="row text-center">
     					<table>
						<tr>
						<td>&emsp;&emsp;</td>
						<td>
						<div class="col-sm-3">
     						<img src="../assets/img/computer.gif" class="tob-img"><br>
     						<button class="btns">Anmelden</button>
     					</div></td><td>&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;</td>
     					<td><div class="col-sm-6">
     						<p class="t1">MM-Schreibtrainer</p>
     						<p class="t2">Multimedia-Abteilung</p>
     						<p class="t3">PH der Diozese Linz  (et0nzt0)</p>
     						<p class="t4">alois.bachinger-linz.at</p>
     						<p class="t5">Am besten: Google Chrome, Firefox oder opera verwenden</p>
     						<p class="t6">vers. 8.0</p>
     					</div></td><td> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; </td>
     					<td><div class="col-sm-3">
     						<img src="../assets/img/computer.gif" class="tob-img"><br>
     						<button class="btns">Programmende</button>
     					</div></td>
     				</tr></table>
					</div><br>
				
					<p class="txt text-center">Zum Testen kannst du den Geheimcode 'ms' verwenden!<br>
			Allerding kannst du damit keine personlichen Ergebnisse speichern.	
            
			</p>
             
             <div class="box" layout-align="center center" >
             	<br/>
				
             		<label class="form-la">Einugabe deines Geheimcodes:</label>
					<input type="text"  ngModel name="dd" id="dd" class="tx-box" placeholder="                **">
    						&emsp;&emsp;&emsp;<input type="submit" class="form-btn" (click)="log()"  value="Login">
             		<!--<input type="password" name="" class="tx-box"><button class="form-btn">Login</button>-->
             	
             	<span style="color:blue">----------</span>
             	<br/><br/>
             		<form>
             		<span class="form-pass">
             		 Nach 5 Password-Fehlversuchen wird die Adresse gespent.Du Kannst aber unterhallb deine Emailadresse eingeben dann wird dir das Passwort an deine eingetragene Emailaddresse geschickt.
             	</span><br>
             		<!--<input type="text" name="" class="tx-box1"><button class="form-btn1">Password Vergessen</button>-->
					<input type="text" name="fmail" id="fm" class="tx-box1">
    		<input type="submit" name="" class="form-btn1"value="Password Vergessen" (click)="forgot()">
             	</form>
             </div>
			 <
            <br><br><br><br>
					
					
     			</div>
     		</div>
     	</div>
     </div>
	 </div>
	 </div>